.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background: #151a26;
}

.main-content {
    flex: 1;
    background: #0d1117;
    padding: 40px;
}

*{
    margin: 0;
    padding: 0;
}

fieldset{
    box-sizing: border-box;
    margin-top: 10rem;
    background: #0d1117;
    padding: 10px 0px 30px 0px;
    color: aliceblue;
    /* border-radius: 10px; */
}

/* .form-title{
    padding: 10px; 
    border-bottom: 1px solid white; 
    margin-left: 10px; 
}  */


fieldset div{
    border: 1px solid white;
    margin: 2rem;
}