<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PG Rent Management System{% endblock title %}</title>
    {% block css_file %}
        <link rel="stylesheet" href="">
    {% endblock css_file %}
</head>
<body>
    <header id="header-content">
        <ul class="header-list">
            <li><a href="{% url "dashboard" %}">Dashboard</a></li>
            <li><a href="{% url "registration" %}">Tenant Registration</a></li>
            <li><a href="{% url "tenant" %}">Tenant</a></li>
            <li><a href="{% url "payment" %}">Pending Payments</a></li>
            <li><a href="{% url "complaint-registration" %}">Complaint Registration</a></li>
            <li><a href="{% url "tenant-complaints" %}">Tenant Complaints</a></li>
        </ul>
    </header>
    {% block body %}
    {% endblock body %}
</body>
</html>