body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* ###### Element styling ###### */
li{
    list-style: none;
}


/* ##################### utility classes ################### */
.text-yellow{
    color: #f19c0d;
}

.text-white{
    color: #dbe5ed;
}



/* ##### sidebar styling ########### */

.layout{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    width: 250px;
    background: #151a26;
}

.sidebar .title{
    color: #dbe5ed;
    border-bottom: 1px solid rgba(90, 42, 42, 0.82);
}

.sidebar .navbar{
    padding: 1rem;
}

.sidebar .navbar li{
    margin: 1rem 1rem;
    padding: 0.5rem;
}

.sidebar .navbar li a{
    color: #657190;
    text-decoration: none;
}

.sidebar .navbar a:hover{
    color: #fff;
}

.layout .main-content{
    background: #151a26;
    width: 100%;
}