{% extends "base.html" %}
{% load static %}

{% block title %}
Tenant Registration
{% endblock title %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'dashboard/registration.css' %}">
{% endblock css_file %}


{% block content %}
<main>
    <header class="page-header">
        <h1>Register Tenant</h1>
        <div class="header-date">
            <span>Aug 2026</span>
            <span class="status-dot"></span>
        </div>
    </header>

    <form action="" method="POST">
        {% csrf_token %}
        {{ tenant_form }}
        {{ address_form }}
        {{ room_form }}
        <button type="submit">Register Tenant</button>
    </form>

</main>
{% endblock content %}