{% extends "base.html" %}
{% load static %}

{% block title %}
Rooms
{% endblock title %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "dashboard/room.css" %}">

{% endblock css_file %}

{% block content %}

<main>
    <header class="page-header">
        <div class="header-title header-box">
            <h2>Rooms</h2>
        </div>
        <div class="header-date header-box">
            <span>{% now "M Y" %}</span>
            <span class="status-dot"></span>
        </div>
    </header>

    <div class="room-container">
        {% for floor, rooms in grouped_rooms %}
            <div class=floor>FLOOR {{ floor }}</div>
            <div class="room">
                {% for r_info in rooms %}
                    {% include "dashboard/includes/add-rooms.html" %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</main>

{% endblock content %}