{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Tenant
{% endblock title %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'dashboard/tenant.css' %}">
{% endblock css_file %}

{% block content %}
    
<main>
    <header class="page-header">
        <div class="header-title header-box">
            <h2>Tenants</h2>
        </div>
        <div class="header-date header-box">
            <span>{% now "M Y" %}</span>
            <span class="status-dot"></span>
        </div>
    </header>



   <form method="GET" action="{% url "tenant" %}" id="search-form">
        <input 
            type="text" 
            name="q" 
            placeholder="Search by name, room, or email..." 
            value="{{ search_query }}"
            id="search-input"
            autofocus
        >

        <button type="submit">Submit</button>
    </form>

    <script>
        const inputField = document.getElementById("search-input");
        const textLength = inputField.value.length;
        inputField.setSelectionRange(textLength, textLength);
    </script>

    <!-- <script>
        const searchInput = document.getElementById("search-input");
        const searchForm = document.getElementById("search-form");

        let timeout;

        searchInput.addEventListener("input", function () {

            clearTimeout(timeout);
            searchForm.submit();
        }, 300);
        searchInput.focus();
        searchInput.setSelectionRange(
            searchInput.value.length,
            searchInput.value.length
        )
    </script> -->





    <div class="tenant-table">
        <div class="tenant-row">
            <div>TENANT</div>
            <div>ROOM</div>
            <div>SINCE</div>
            <div>PHONE</div>
            <div>DEPOSIT</div>
            <div>STATUS</div>
            <div>RENT STATUS</div>
        </div>
        
        {% for tenant in tenants %}
            <div class="tenant-row tenant-table-body">

                <div class="tenant-details">
                    <span class="tenant-name">
                        {{ tenant.firstname }}
                        {{ tenant.lastname }}
                    </span>
                    
                    <span class="tenant-email">
                        {{ tenant.email }}
                    </span>
                </div>

                <div class="room-number">
                    {{ tenant.room.number }}
                </div>
                
                <div class="move-in-date">
                    {{ tenant.move_in_date }}
                </div>

                <div class="phone-number">
                    {{ tenant.phone_number }}
                </div>

                <div class="deposit">
                    ₹{{ tenant.security_deposit | intcomma }}
                </div>

                <div> 
                    {% if tenant.status == "active" %}
                        <span class="status active">{{ tenant.status | upper}} </span>

                    {% elif tenant.status == "overdue" %}
                        <span class="status overdue">{{ tenant.status | upper}} </span>

                    {% elif tenant.status == "notice" %}
                        <span class="status notice">{{ tenant.status | upper}} </span>
                    
                    {% endif %}
                </div>

                <div>
                    <span class="rent-status rent-status-{{ tenant.rent_status }}">{{ tenant.rent_status | capfirst }}</span>
                </div>

            </div>
        
        {% endfor %}
    </div>
</main>




{% endblock content %}