

.page-header{
    font-family: "Roboto Slab", serif;
    color: #dbe5ed;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    border-bottom: 0.5px solid #4e53544f;
}

.header-title h2{
    padding: 1.6rem;
    font-weight: 700;
    font-size: 2.0rem;
    margin-left: 2rem;
}

.header-date{
    padding: 1.6rem;
    align-items: center;
    margin-right: 2rem;
}

.header-date span{
    display: inline-block;
    color: #657190;
    font-size: 1.2rem;
    word-spacing: 0.5rem;

}

.header-date .status-dot{
    width: 1rem;
    height: 1rem;
    background: green;
    border-radius: 100%;
    margin-left: 0.5rem;
}



form{
    margin-top: 2rem; 
    margin-bottom: 2rem;
    margin-left: 3rem;
    width: 80rem;
    max-width: 80%;
}


.form-control{
    padding: 2rem;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

form .form-control h1{
    font-family: "Roboto Slab", serif;
    margin-bottom: 1rem;
    color: #dbe5ed;
    font-size: 1.6rem;
}

form .form-control .section-number{
    color: #f19c0d;
    font-weight: normal;
    font-size: 1.6rem;
    margin-right: 0.5rem;
}

form .form-control hr{
    margin-left: -2rem;
    margin-right: -2rem;
    /* margin-bottom: 2rem; */
    border: 1.3px solid #4e53544f;
}


form .form-control .flex-wrapper{
    display: flex;
    flex-wrap: wrap;
}

form .form-control .form-field{
    width: 50%;
    max-width: 50%;
    font-size: 1.3rem;
    word-spacing: 0.3rem;
}

.flex-wrapper .label-field{
    display: block;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.flex-wrapper .form-field .input-field input{
    display: block;
    border: 1.5px solid #4e53544f;
    background: #1a2032;
    margin-bottom: 0.5rem;
    width: 97%;
    height: 3rem;
    color: #dbe5ed;
    padding: 1rem;
    border-radius: 0.5rem;
}

.flex-wrapper .form-field .input-field select{
    display: block;
    border: 1.5px solid #4e53544f;
    background: #1a2032;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    width: 97%;
    height: 3rem;
    color: #abb3ba;
    border-radius: 0.5rem;

}


.flex-wrapper .form-field .input-field textarea{
    display: block;
    border: 1.5px solid #4e53544f;
    background: #1a2032;
    margin-bottom: 0.5rem;
    width: 200%;
    height: 10rem;
    color: #dbe5ed;
    border-radius: 0.5rem;
}


.flex-wrapper .form-field .input-field input:focus{
    border: 1.5px solid #f19c0d;
    outline: none;
    border-radius: 0.5rem;
}

.flex-wrapper .form-field .error-field{
    color: #f87171;
    border-radius: 0.5rem;
}

.flex-wrapper .form-field select:focus{
    border: 1.5px solid #f19c0d;
    outline: none;
    border-radius: 0.5rem;
}

.flex-wrapper .form-field textarea{
    padding: 1rem;
}


.flex-wrapper .form-field textarea:focus{
    border: 1.5px solid #f19c0d;
    outline: none;
    border-radius: 0.5rem;
}

form button[type=submit]{
    background: #f19c0d;
    font-weight: bold;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 1rem;
}

form button[type=submit]:hover{
    background: #dd8f08;;

}

form button[type=reset]{
    padding: 1.5rem 2rem;
    border: 1px solid #4e53544f;
    border-radius: 1rem;
    background: #0d1117;
    color: #657190;
    margin-left: 1.6rem;

}

form button[type=reset]:hover{
    color: #dbe5ed;

}